.center
{
    text-align: center;
}

.image-md
{
    height: 50vh;
}

@media (orientation: portrait)
{
    .image-md
    {
        height: auto;
        width: 65vw;
    }
}

.flex-center-all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Home */

.text-intro-title
{
    padding: 10px;
    background: rgba(128, 128, 128, 0.75);
    color: white;
    font-size: 100px;
}

.text-intro-desc
{
    padding: 0 10px 0 10px;
    background: rgba(255, 255, 255, 0.75);
    font-size: 34px;
}

#intro-box
{
    padding: 50px;
}

/* Contact */

#contact-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    text-align: center;
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.9);
}

#contact-info:hover
{
    border-color: slategray;
}

#contact-info a
{
    color: rgb(0, 132, 255);
}

#contact-info a:hover
{
    text-shadow: 1px 1px 1px rgb(173, 199, 224);
}