.center
{
    text-align: center;
}

.image-md
{
    height: 50vh;
}

@media (orientation: portrait)
{
    .image-md
    {
        height: auto;
        width: 65vw;
    }
}

.flex-center-all
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Home */

.text-intro-title
{
    padding: 0 10px 0 10px;
    background: rgba(128, 128, 128, 0.685);
    color: white;
    font-size: 100px;
}

.text-intro-desc
{
    padding: 0 10px 0 10px;
    background: rgba(255, 255, 255, 0.555);
    font-size: 34px;
}

.card-box
{
    padding: 50px;
}

.glass-box
{
    background-color: rgba(245, 245, 245, 0.185);
    box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 5px;
}

/* Contact */

.social-img-container
{
    display: inline;
    padding: 5px;
}

.social-img-container > img
{
    width: 20px;
}