@font-face
{
    font-family: 'Abel Regular';
    src: url('../fonts/abel-regular-webfont.woff');
}

@font-face
{
    font-family: 'Bungee Hairline';
    src: url('../fonts/BungeeHairline-Regular.ttf');
}