/*
    Shared Page Styles Including Navbar/Titlebar
*/

:root
{
    --title-bar-size: 2.5em;
    --side-bar-size: 3em;
    /* Corner Square */
    --corner-bg-color: rgba(255, 255, 255, 0);
    /* Title Bar */
    --title-bar-bg-color-0: white;
    --title-bar-bg-color-1: white;
    --title-bar-bg-color-2: white;
    /* Sidebar */
    --sidebar-bg-color-0: rgba(255, 99, 71, 0.925);
    --sidebar-bg-color-1: rgba(255, 99, 71, 0.74);
    --sidebar-hover-bg-color: rgba(0, 110, 255, 0.45);
    --sidebar-selected-bg-color: rgba(255, 255, 255, 0.205);
    --sidebar-expand-width: 10em;
    /* Content */
    --content-bg-color: rgba(245, 245, 245, 0.5);
}

html, body
{
    /* Reset Browser Margins */
    margin: 0;
    /* Make Full Space Available */
    width: 100%;
    height: 100%;
    /* No Overflow / Scroll */
    overflow: hidden;
    /* Default Font */
    font: 2.5vh 'Abel Regular', sans-serif;
}

a
{
    /* Reset Link Styling */
    text-decoration: inherit;
    color: inherit;
}

#layout-grid
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: var(--title-bar-size);
    grid-template-columns: var(--side-bar-size) var(--sidebar-expand-width);
}

#corner
{
    /* Hidden On Desktop Browsers */
    visibility: hidden;
    /* Self Positioning */
    grid-row: 1;
    grid-column: 1;
    /* Style */
    background-color: var(--corner-bg-color);
}

#title-bar
{
    /** Self Positioning */
    grid-row: 1;
    grid-column: 2 / span 2;
    /* Child Positioning */
    display: flex;
    align-items: center;
    /* Style */
    background: linear-gradient(to bottom, var(--title-bar-bg-color-0), var(--title-bar-bg-color-1), var(--title-bar-bg-color-2));
    box-shadow: 0px 2px 5px -3px dimgray;
}

#title
{
    margin-left: 15px;
    color: darkblue;
    font: min(5vh, 5vw) 'Bungee Hairline', sans-serif;
}

#sidebar
{
    /* Self Positioning */
    grid-row: 2;
    grid-column: 1;
    /* Child Positioning */
    display: flex;
    flex-direction: column;
    /* Style */
    background: linear-gradient(220deg, var(--sidebar-bg-color-0), var(--sidebar-bg-color-1));
    transition: all 0.2s ease-out;
    box-shadow: 2px 0px 5px -3px dimgray;
    text-shadow: 1px 1px dimgray;
    color: white;
}

#sidebar:hover
{
    background: var(--sidebar-hover-bg-color);
    grid-column: 1 / span 2;
}

.sidebar-option
{
    user-select: none;
    overflow: hidden;
    /* Size */
    width: 100%;
    height: var(--side-bar-size);
    display: flex;
    flex-direction: row;
}

.sidebar-option img
{
    width: 50%;
}

.sidebar-option > div
{
    /* Child Positioning */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-option > div:first-of-type
{
    min-width: var(--side-bar-size);
    max-width: var(--side-bar-size);
}

.sidebar-option > div:nth-of-type(2)
{
    flex-grow: 1;
}

.sidebar-option:hover
{
    background-color: var(--sidebar-hover-bg-color);
}

.sidebar-option.selected
{
    background-color: var(--sidebar-selected-bg-color);
}

#content
{
    /* Self Positioning */
    grid-row: 2;
    grid-column: 2 / span 2;
    overflow-y: auto;
    /* Default Style */
    background-color: var(--content-bg-color);
    font: 20px 'Abel Regular', sans-serif;
    color: black;
}

#background-img
{
    position: absolute;
    z-index: -100;
    width: 100%;
}

/* Mobile Adjustments */
@media (max-width: 1000px)
{
    :root
    {
        --title-bar-size: 3em;
        --side-bar-size: 3em;
    }

    #corner
    {
        visibility: visible;
    }

    #title
    {
        font-weight: bold;
    }

    #sidebar
    {
        visibility: hidden;
    }

    #content
    {
        grid-column: 1 / span 3;
    }
}