#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: radial-gradient(circle at 0%, rgb(0, 255, 221), rgb(0, 204, 255));
    width: 100%;
    height: 100%;
}

.navbar {
    width: 85%;
    height: 10%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.945), rgba(255, 255, 255, 0.815));
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px black);
}

.navbar > * {
    text-align: center;
    font-family: 'Open Sans Light';
    font-size: 20px;
    color: black;
    text-decoration: none;
    flex-basis: 0;
    flex-grow: 1;
}

.navbar > *:hover {
    color: white;
    background: linear-gradient(180deg, rgb(75, 75, 75), rgb(65, 65, 65));
    border-radius: 5px;
}

.contentbox {
    position: relative;
    width: 85%;
    border-radius: 5px;
    overflow: hidden;
}

.contentboxtitle {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: 'Open Sans';
    text-shadow: 1px 1px rgb(0, 0, 0);
    width: 100%;
    background: rgba(56, 56, 56, 0.75);
    border-radius: 5px 5px 0 0;
}

.cover {
    background-color: rgba(255, 255, 255, 0.705);
}

.textbox {
    margin: 10px;
    font-size: 20px;
    font-family: 'Open Sans Light';
    color: black;
}

.horizontalflow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.verticalflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.largebox {
    padding: 20% 0% 20% 0%;
}

.highlighted {
    padding: 2% 5% 2% 5%;
    background: rgba(25, 65, 126, 0.90);
    border-radius: 5px;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: -1;
}

.calpolypomona {
    background-image: url(images/cpp.jpg);
    filter: blur(10px);
}

.flextextbox {
    font-size: 20px;
    font-family: 'Open Sans';
    color: white;
    text-shadow: 1px 1px black;
    flex-grow: 1;
}